/*1楼*/
.layui-col-md8 .layui-col-md10 {
    position: relative;
}

.layui-col-md8 .layui-col-md10 span {
    color: #fff;
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black, 2px -2px 0 black;
}
.layui-col-md8 .layui-col-md10 a span{
   color: #cc00ff !important;
    text-shadow:2px 2px 0 blanchedalmond, 2px -2px 0 blanchedalmond, -2px -2px 0 blanchedalmond, -2px 2px 0 blanchedalmond, 2px 2px 0 blanchedalmond, 2px -2px 0 blanchedalmond;
}
.layui-col-md8 .layui-col-md10 .three_d_1 {
    top: 119px;
    left: 182px;
}

.layui-col-md8 .layui-col-md10 .three_d_2 {
    top: 203px;
    left: 206px;
}

.layui-col-md8 .layui-col-md10 .three_d_3 {
    top: 307px;
    left: 165px;
}

.layui-col-md8 .layui-col-md10 .three_d_4 {
    top: 376px;
    left: 141px;
}

.layui-col-md8 .layui-col-md10 .three_d_5 {
    top: 348px;
    left: 248px;
}

.layui-col-md8 .layui-col-md10 .three_d_6 {
    top: 85px;
    left: 317px;
}

.layui-col-md8 .layui-col-md10 .three_d_7 {
    top: 165px;
    left: 318px;
}

.layui-col-md8 .layui-col-md10 .three_d_8 {
    top: 198px;
    left: 401px;
}

.layui-col-md8 .layui-col-md10 .three_d_9 {
    top: 226px;
    left: 284px;
}

.layui-col-md8 .layui-col-md10 .three_d_10 {
    top: 297px;
    left: 363px;
}

.layui-col-md8 .layui-col-md10 .three_d_11 {
    top: 63px;
    left: 458px;
}

.layui-col-md8 .layui-col-md10 .three_d_12 {
    top: 151px;
    left: 519px;
}

.layui-col-md8 .layui-col-md10 .three_d_13 {
    top: 217px;
    left: 554px;
}

.layui-col-md8 .layui-col-md10 .three_d_14 {
    top: 253px;
    left: 567px;
}

.layui-col-md8 .layui-col-md10 .three_d_15 {
    top: 39px;
    left: 524px;
}

.layui-col-md8 .layui-col-md10 .three_d_16 {
    top: 110px;
    left: 645px;
}

.layui-col-md8 .layui-col-md10 .three_d_17 {
    top: 121px;
    left: 305px;
}
/*二楼*/
.layui-col-md8 .layui-col-md10 .three_d_18 {
    top: 73px;
    left: 150px;
}
.layui-col-md8 .layui-col-md10 .three_d_19 {
    top: 99px;
    left: 113px;
}
.layui-col-md8 .layui-col-md10 .three_d_20 {
    top: 124px;
    left: 106px;
}
.layui-col-md8 .layui-col-md10 .three_d_46 {
    top: 154px;
    left: 127px;
}
.layui-col-md8 .layui-col-md10 .three_d_47 {
    top: 211px;
    left: 113px;
}
.layui-col-md8 .layui-col-md10 .three_d_48 {
    top: 255px;
    left: 103px;
}
.layui-col-md8 .layui-col-md10 .three_d_50 {
    top: 295px;
    left: 98px;
}
.layui-col-md8 .layui-col-md10 .three_d_51 {
    top: 373px;
    left: 149px;
}
.layui-col-md8 .layui-col-md10 .three_d_52 {
    top: 384px;
    left: 74px;
}
.layui-col-md8 .layui-col-md10 .three_d_53 {
    top: 61px;
    left: 284px;
}
.layui-col-md8 .layui-col-md10 .three_d_54 {
    top: 86px;
    left: 294px;
}
.layui-col-md8 .layui-col-md10 .three_d_55 {
    top: 139px;
    left: 340px;
}
.layui-col-md8 .layui-col-md10 .three_d_57 {
    top: 152px;
    left: 230px;
}
.layui-col-md8 .layui-col-md10 .three_d_58 {
    top: 194px;
    left: 248px;
}
.layui-col-md8 .layui-col-md10 .three_d_59 {
    top: 177px;
    left: 332px;
}
.layui-col-md8 .layui-col-md10 .three_d_60 {
    top: 232px;
    left: 297px;
}
.layui-col-md8 .layui-col-md10 .three_d_61 {
    top: 327px;
    left: 347px;
}
.layui-col-md8 .layui-col-md10 .three_d_62 {
    top: 351px;
    left: 237px;
}
.layui-col-md8 .layui-col-md10 .three_d_63 {
    top: 60px;
    left: 409px;
}
.layui-col-md8 .layui-col-md10 .three_d_64 {
    top: 178px;
    left: 481px;
}
.layui-col-md8 .layui-col-md10 .three_d_65 {
    top: 285px;
    left: 496px;
}
.layui-col-md8 .layui-col-md10 .three_d_66 {
    top: 327px;
    left: 522px;
}
.layui-col-md8 .layui-col-md10 .three_d_67 {
    top: 303px;
    left: 664px;
}
.layui-col-md8 .layui-col-md10 .three_d_68 {
    top: 274px;
    left: 764px;
}
.layui-col-md8 .layui-col-md10 .three_d_69 {
    top: 250px;
    left: 862px;
}
/*三楼*/
.layui-col-md8 .layui-col-md10 .three_d_21 {
    top: 88px;
    left: 77px;
}

.layui-col-md8 .layui-col-md10 .three_d_22 {
    top: 132px;
    left: 77px;
}

.layui-col-md8 .layui-col-md10 .three_d_23 {
    top: 170px;
    left: 115px;
}

.layui-col-md8 .layui-col-md10 .three_d_24 {
    top: 240px;
    left: 121px;
}

.layui-col-md8 .layui-col-md10 .three_d_25 {
    top: 337px;
    left: 77px;
}

.layui-col-md8 .layui-col-md10 .three_d_26 {
    top: 326px;
    left: 181px;
}

.layui-col-md8 .layui-col-md10 .three_d_27 {
    top: 68px;
    left: 245px;
}

.layui-col-md8 .layui-col-md10 .three_d_28 {
    top: 86px;
    left: 313px;
}

.layui-col-md8 .layui-col-md10 .three_d_29 {
    top: 123px;
    left: 255px;
}

.layui-col-md8 .layui-col-md10 .three_d_70 {
    top: 146px;
    left: 230px;
}
.layui-col-md8 .layui-col-md10 .three_d_71 {
    top: 180px;
    left: 274px;
}
.layui-col-md8 .layui-col-md10 .three_d_72 {
    top: 130px;
    left: 342px;
}
.layui-col-md8 .layui-col-md10 .three_d_73 {
    top: 278px;
    left: 351px;
}
.layui-col-md8 .layui-col-md10 .three_d_74 {
    top: 58px;
    left: 400px;
}
.layui-col-md8 .layui-col-md10 .three_d_75 {
    top: 53px;
    left: 445px;
}
.layui-col-md8 .layui-col-md10 .three_d_76 {
    top: 135px;
    left: 454px;
}
.layui-col-md8 .layui-col-md10 .three_d_77{
    top: 226px;
    left: 503px;
}
.layui-col-md8 .layui-col-md10 .three_d_78 {
    top: 256px;
    left: 533px;
}
.layui-col-md8 .layui-col-md10 .three_d_79 {
    top: 60px;
    left: 600px;
}
.layui-col-md8 .layui-col-md10 .three_d_80 {
    top: 123px;
    left: 681px;
}
.layui-col-md8 .layui-col-md10 .three_d_81 {
    top: 176px;
    left: 664px;
}
.layui-col-md8 .layui-col-md10 .three_d_82 {
    top: 222px;
    left: 695px;
}
.layui-col-md8 .layui-col-md10 .three_d_83 {
    top: 197px;
    left: 847px;
}
.layui-col-md8 .layui-col-md10 .three_d_84 {
    top: 197px;
    left: 90px;
}
/*负一楼*/
.layui-col-md8 .layui-col-md10 .three_d_85 {
    top: 75px;
    left: 303px;
}
.layui-col-md8 .layui-col-md10 .three_d_86 {
    top: 97px;
    left: 323px;
}
.layui-col-md8 .layui-col-md10 .three_d_87 {
    top: 155px;
    left: 313px;
}
.layui-col-md8 .layui-col-md10 .three_d_88 {
    top: 125px;
    left: 579px;
}
.layui-col-md8 .layui-col-md10 .three_d_89 {
    top: 197px;
    left: 670px;
}