/*1楼*/
.layui-col-md8 .layui-col-md10 {
    position: relative;
}

.layui-col-md8 .layui-col-md10 span {
    color: #fff;
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black, 2px -2px 0 black;
}
.layui-col-md8 .layui-col-md10 a span{
   color: #cc00ff !important;
    text-shadow:2px 2px 0 blanchedalmond, 2px -2px 0 blanchedalmond, -2px -2px 0 blanchedalmond, -2px 2px 0 blanchedalmond, 2px 2px 0 blanchedalmond, 2px -2px 0 blanchedalmond;
}
.layui-col-md8 .layui-col-md10 .three_d_1 {
    top: 155px;
    left: 221px;
}

.layui-col-md8 .layui-col-md10 .three_d_2 {
    top: 274px;
    left: 197px;
}

.layui-col-md8 .layui-col-md10 .three_d_3 {
    top: 373px;
    left: 226px;
}

.layui-col-md8 .layui-col-md10 .three_d_4 {
    top: 446px;
    left: 301px;
}

.layui-col-md8 .layui-col-md10 .three_d_5 {
    top: 459px;
    left: 166px;
}

.layui-col-md8 .layui-col-md10 .three_d_6 {
    top: 102px;
    left: 420px;
}

.layui-col-md8 .layui-col-md10 .three_d_7 {
    top: 210px;
    left: 439px;
}

.layui-col-md8 .layui-col-md10 .three_d_8 {
    top: 244px;
    left: 514px;
}

.layui-col-md8 .layui-col-md10 .three_d_9 {
    top: 291px;
    left: 350px;
}

.layui-col-md8 .layui-col-md10 .three_d_10 {
    top: 377px;
    left: 455px;
}

.layui-col-md8 .layui-col-md10 .three_d_11 {
    top: 73px;
    left: 588px;
}

.layui-col-md8 .layui-col-md10 .three_d_12 {
    top: 166px;
    left: 647px;
}

.layui-col-md8 .layui-col-md10 .three_d_13 {
    top: 250px;
    left: 906px;
}

.layui-col-md8 .layui-col-md10 .three_d_14 {
    top: 324px;
    left: 731px;
}

.layui-col-md8 .layui-col-md10 .three_d_15 {
    top: 42px;
    left: 649px;
}

.layui-col-md8 .layui-col-md10 .three_d_16 {
    top: 149px;
    left: 785px;
}

.layui-col-md8 .layui-col-md10 .three_d_17 {
    top: 146px;
    left: 421px;
}
/*二楼*/
.layui-col-md8 .layui-col-md10 .three_d_18 {
    top: 94px;
    left: 147px;
}
.layui-col-md8 .layui-col-md10 .three_d_19 {
    top: 134px;
    left: 127px;
}
.layui-col-md8 .layui-col-md10 .three_d_20 {
    top: 163px;
    left: 123px;
}
.layui-col-md8 .layui-col-md10 .three_d_46 {
    top: 201px;
    left: 108px;
}
.layui-col-md8 .layui-col-md10 .three_d_47 {
    top: 245px;
    left: 73px;
}
.layui-col-md8 .layui-col-md10 .three_d_48 {
    top: 324px;
    left: 69px;
}
.layui-col-md8 .layui-col-md10 .three_d_50 {
    top: 372px;
    left: 57px;
}
.layui-col-md8 .layui-col-md10 .three_d_51 {
    top: 463px;
    left: 180px;
}
.layui-col-md8 .layui-col-md10 .three_d_52 {
    top: 470px;
    left: 37px;
}
.layui-col-md8 .layui-col-md10 .three_d_53 {
    top: 76px;
    left: 323px;
}
.layui-col-md8 .layui-col-md10 .three_d_54 {
    top: 106px;
    left: 368px;
}
.layui-col-md8 .layui-col-md10 .three_d_55 {
    top: 157px;
    left: 407px;
}
.layui-col-md8 .layui-col-md10 .three_d_57 {
    top: 191px;
    left: 291px;
}
.layui-col-md8 .layui-col-md10 .three_d_58 {
    top: 241px;
    left: 291px;
}
.layui-col-md8 .layui-col-md10 .three_d_59 {
    top: 218px;
    left: 406px;
}
.layui-col-md8 .layui-col-md10 .three_d_60 {
    top: 293px;
    left: 309px;
}
.layui-col-md8 .layui-col-md10 .three_d_61 {
    top: 413px;
    left: 415px;
}
.layui-col-md8 .layui-col-md10 .three_d_62 {
    top: 395px;
    left: 297px;
}
.layui-col-md8 .layui-col-md10 .three_d_63 {
    top: 76px;
    left: 516px;
}
.layui-col-md8 .layui-col-md10 .three_d_64 {
    top: 196px;
    left: 581px;
}
.layui-col-md8 .layui-col-md10 .three_d_65 {
    top: 350px;
    left: 605px;
}
.layui-col-md8 .layui-col-md10 .three_d_66 {
    top: 409px;
    left: 627px;
}
.layui-col-md8 .layui-col-md10 .three_d_67 {
    top: 305px;
    left: 824px;
}
.layui-col-md8 .layui-col-md10 .three_d_68 {
    top: 280px;
    left: 935px;
}
.layui-col-md8 .layui-col-md10 .three_d_69 {
    top: 263px;
    left: 1067px;
}
/*三楼*/
.layui-col-md8 .layui-col-md10 .three_d_21 {
    top: 118px;
    left: 166px;
}

.layui-col-md8 .layui-col-md10 .three_d_22 {
    top: 167px;
    left: 158px;
}

.layui-col-md8 .layui-col-md10 .three_d_23 {
    top: 206px;
    left: 144px;
}

.layui-col-md8 .layui-col-md10 .three_d_24 {
    top: 314px;
    left: 127px;
}

.layui-col-md8 .layui-col-md10 .three_d_25 {
    top: 437px;
    left: 78px;
}

.layui-col-md8 .layui-col-md10 .three_d_26 {
    top: 404px;
    left: 224px;
}

.layui-col-md8 .layui-col-md10 .three_d_27 {
    top: 75px;
    left: 300px;
}

.layui-col-md8 .layui-col-md10 .three_d_28 {
    top: 100px;
    left: 391px;
}

.layui-col-md8 .layui-col-md10 .three_d_29 {
    top: 148px;
    left: 343px;
}

.layui-col-md8 .layui-col-md10 .three_d_70 {
    top: 180px;
    left: 337px;
}
.layui-col-md8 .layui-col-md10 .three_d_71 {
    top: 222px;
    left: 336px;
}
.layui-col-md8 .layui-col-md10 .three_d_72 {
    top: 166px;
    left: 438px;
}
.layui-col-md8 .layui-col-md10 .three_d_73 {
    top: 355px;
    left: 411px;
}
.layui-col-md8 .layui-col-md10 .three_d_74 {
    top: 76px;
    left: 494px;
}
.layui-col-md8 .layui-col-md10 .three_d_75 {
    top: 63px;
    left: 563px;
}
.layui-col-md8 .layui-col-md10 .three_d_76 {
    top: 189px;
    left: 538px;
}
.layui-col-md8 .layui-col-md10 .three_d_77{
    top: 279px;
    left: 645px;
}
.layui-col-md8 .layui-col-md10 .three_d_78 {
    top: 310px;
    left: 716px;
}
.layui-col-md8 .layui-col-md10 .three_d_79 {
    top: 106px;
    left: 791px;
}
.layui-col-md8 .layui-col-md10 .three_d_80 {
    top: 155px;
    left: 867px;
}
.layui-col-md8 .layui-col-md10 .three_d_81 {
    top: 212px;
    left: 820px;
}
.layui-col-md8 .layui-col-md10 .three_d_82 {
    top: 284px;
    left: 877px;
}
.layui-col-md8 .layui-col-md10 .three_d_83 {
    top: 248px;
    left: 1067px;
}
.layui-col-md8 .layui-col-md10 .three_d_84 {
    top: 245px;
    left: 132px;
}
/*负一楼*/
.layui-col-md8 .layui-col-md10 .three_d_85 {
    top: 101px;
    left: 357px;
}
.layui-col-md8 .layui-col-md10 .three_d_86 {
    top: 123px;
    left: 401px;
}
.layui-col-md8 .layui-col-md10 .three_d_87 {
    top: 179px;
    left: 418px;
}
.layui-col-md8 .layui-col-md10 .three_d_88 {
    top: 154px;
    left: 733px;
}
.layui-col-md8 .layui-col-md10 .three_d_89 {
    top: 267px;
    left: 801px;
}